.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: var(--primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  padding-right: 2rem;
  flex-shrink: 0;
}

.header-left,
.header-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  height: 100%;
  margin-block: 0.5rem;
}
.header .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  height: inherit;
  width: 200px;
  transition: width 0.3s ease-in-out;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
}

.header .logo.collapsed {
  width: 57px;
}
.header-text {
  color: var(--text-secondary-color);
  font-size: var(--font-size);
  font-weight: 600;
  line-height: 19px;
}

.vendor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 6px;
  gap: 4px;
  background: #e7f5ff;
  border-radius: 2px;
  border: none;
}
.vendor p {
  font-weight: 700;
  font-size: 9px;
  line-height: 14px;
  text-transform: uppercase;
  color: #228be6;
  flex: none;
  flex-grow: 0;
}
.vendor:hover {
  background-color: #d0ebff;
}
.client {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px 6px;
  gap: 4px;
  background: #fff4e5;
  border-radius: 2px;
  border: none;
}
.client p {
  font-weight: 700;
  font-size: 9px;
  line-height: 14px;
  text-transform: uppercase;
  color: #fd7e14;
  flex: none;
  flex-grow: 0;
}
.client:hover {
  background-color: #ffebd0;
}
