.main-layout {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 50px auto 50px;
}

.main-content {
  display: grid;
  grid-template-columns: 18.384rem 1fr;
  grid-template-rows: 3.317rem 96.683rem;
  gap: 0;
  transition: width 0.3s ease;
  background-color: #f4f6f9;
  border-bottom: solid var(--border-color) 2px;
  border-right: solid var(--border-color) 2px;
}
.main-layout.sidenav-collapsed {
  grid-template-columns: 3.3125rem 1fr;
}
.header,
.footer {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
}