.ticketPageMain {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    height: 100%;
}
.ticket-page{
    grid-column: 2/3;
}
.ticketPageMain > header {
    height: 3rem;
    background: #f5f7f9;
    padding: 1rem;
}

.ticketPageMain > header > p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #135764;
}

.ticketPageMain > section {
    display: flex;
    flex-direction: column;
    background: #f7fcfd;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e3e3e3;
    flex: 1;
    overflow-y: auto;
}