.ticket-item,
.ticketColumns {
  display: grid;
  justify-items: start;
  padding: 1rem;
  border: 1px solid #e0e0e0;
  column-gap: 2rem;
  grid-template-columns: 1fr 3fr 1fr 2fr 2fr;
  text-align: justify;
  align-items: center;
  align-self: flex-start;
  width: 100%;
}
.ticket-item > span:nth-of-type(2) {
  text-decoration: solid 2px underline #134d59;
  color: #134d59;
}
