.reusable-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.reusable-modal-content {
  position: relative;
  width: 688px;
  background: #ffffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transform: translateY(0);
  transition: transform 0.3s ease;
  border-radius: 4px;
}

.reusable-modal-header {
  height: 36px;
  background: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: var(--text-secondary-color);
}

.reusable-modal-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.1px;
}
.reusable-modal-title svg path {
  fill: var(--text-secondary-color);
}

.reusable-modal-close {
  background: none;
  border: none;
  cursor: pointer;
}

.reusable-modal-body {
  margin-bottom: 20px;
  padding: 1rem;
  min-height: 180px;
  visibility: visible;
}

.reusable-modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  gap: 15px;
}

/* Filter Modal */
.filter-modal-header {
  background: var(--primary-hover-color);
  color: var(--header-active-color);
}

.filter-modal-close {
  color: var(--modal-close-color);
}

.add-filter-button,
.add-sort-button {
  background-color: #ffffff;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  color: var(--text-primary-color);
  border: none;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 12px;
  padding: 0;
}

.filter-clear-button,
.sort-clear-button {
  width: 111px;
  background-color: #fff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: var(--input-border-radius);
  border: none;
  cursor: pointer;
  padding: 4px 10px;
}

.filter-clear-button > span,
.sort-clear-button > span {
  color: #7e1913;
}

.filter-apply-button,
.sort-apply-button {
  background: var(--primary-color);
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 4px 10px;
}

.filter-apply-button > span,
.sort-apply-button > span {
  color: var(--alternate-text-color);
}
.filter-field,
.filter-operator,
.sort-field,
.sort-operator,
.sort-value,
.sort-direction,
.filter-value {
  color: var(--alternate-text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  height: 28px;
  padding: 5px 8px;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  width: 100%;
  background-color: #ffffff;
}
/* Sort Modal */
.sort-modal-header {
  background: var(--primary-hover-color);
  color: var(--header-active-color);
}

.sort-modal-close {
  color: var(--modal-close-color);
}

.add-sort-button svg path,
.add-filter-button svg path {
  fill: var(--primary-color);
}

.sort-clear-button > span {
  color: #7e1913;
}

.sort-apply-button {
  background: var(--primary-color);
}

.sort-apply-button > span {
  color: var(--alternate-text-color);
}

/* Rows */
.filter-row-header,
.sort-row-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.filter-row,
.sort-row {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-control,
.sort-control {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.control-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0;
  color: var(--primary-color);
  transition:
    opacity 0.2s ease,
    background-color 0.2s ease;
  overflow: hidden;
  border-radius: 4px;
  margin-block-end: 0.5rem;
}
.table-controls {
  display: flex;
  gap: 1rem;
  justify-content: end;
}
.control-button:hover {
  opacity: 0.8;
}
.control-button svg {
  height: 24px;
  width: 24px;
  transition: fill 0.2s ease;
}
.control-button svg path {
  fill: var(--primary-color);
  border-radius: 4px;
}
.delete-row-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--modal-close-color);
  font-size: 1.5rem;
  padding: 0;
  line-height: 1;
}
