:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text-primary-color: #000000;
  --text-secondary-color: #ffffff;
  --primary-color: #144d5a;
  --body-color: #f7fcfd;
  --font-size: 16px;
  --button-font-size: 14px;
  --secondary-button-color: #fd7e14;
  --bottom-nav-bg-color: #e0e9eb;
  --border-color: #e2e2e2;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: inherit;
  line-height: inherit;
  color: var(--text-primary-color);
  background-color: var(--body-color);
  width: 100vw;
  height: 100vh;
}
