.main-layout {
    display: grid;
    height: fit-content;
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 12.5rem auto;
}

.main-layout.sidenav-collapsed {
    grid-template-columns: 3.3125rem 1fr;
}

.header,
.footer {
    grid-column: 1 / 3;
    display: flex;
    flex-direction: row;
}
