.create-ticket-form-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.create-ticket-form {
  padding: 1rem 1rem;
  flex-grow: 1;
}

.create-ticket-form label {
  margin-block: 0.25rem;
  font-family: "Open Sans", serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #212529;
}

.create-ticket-form input,
.create-ticket-form textarea {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  background: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 2px;
  color: #000000;
  width: 80%;
  margin-block: 0.5rem;
  padding: 1rem;
}

.create-ticket-form .textAreaIcons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  background: white;
  border-radius: 2px 2px 0 0;
  padding: 12px 12px;
  width: 80%;
  border: 1px solid #ced4da;
}

.create-ticket-form .file-upload-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 1px 14px;
  width: 97px;
  height: 30px;
  background: #f8f9fa;
  border: 1px solid #adb5bd;
  border-radius: 4px;
  text-wrap: nowrap;
  margin-block: 0.5rem;
  cursor: pointer;
}

.create-ticket-form .file-upload-button-par {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #5c5f66;
}

.create-ticket-form .uploadedFileName {
  color: #1c7ed6;
  font-size: 12px;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.create-ticket-form .remove-file-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

.form-actions {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin-top: auto;
  background: #f5f7f9;
  border-top: 1px solid #dee2e6;
  width: 100%;
}
.create-ticket-form .error {
  color: #ff0000;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  margin-top: -0.25rem;
  margin-bottom: 0.5rem;
  height: 16px;
}

/* Tiptap Styles */
.tiptap-editor {
  width: 80%;
}

.tiptap-editor .ProseMirror {
  border: 1px solid #ced4da;
  border-top: none;
  border-radius: 0 0 2px 2px;
  padding: 0.5rem 1rem;
  min-height: 230px;
  background: #ffffff;
  color: #202020;
  font-weight: 500;
}

.tiptap-editor .ProseMirror:focus {
  outline: none;
}

.textAreaIcons .icon-group {
  display: flex;
}

.textAreaIcons button {
  background: none;
  border: 1px solid #ced4da;
  border-left: none;
  padding: 4px;
  cursor: pointer;
  height: 34px;
  width: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.textAreaIcons .icon-group button:first-of-type {
  border-left: 1px solid #ced4da;
  border-radius: 4px 0 0 4px;
}
.textAreaIcons .icon-group button:last-of-type {
  border-left: 1px solid #ced4da;
  border-radius: 0 4px 4px 0;
}
.textAreaIcons button.is-active {
  background-color: #e9ecef;
}

/* Tiptap Content Styles */
.tiptap-editor .ProseMirror h1 {
  font-size: 2em;
  font-weight: bold;
}
.tiptap-editor .ProseMirror h2 {
  font-size: 1.5em;
  font-weight: bold;
}
.tiptap-editor .ProseMirror h3 {
  font-size: 1.25em;
  font-weight: bold;
}
.tiptap-editor .ProseMirror h4 {
  font-size: 1em;
  font-weight: bold;
}

.tiptap-editor .ProseMirror img {
  max-width: 100%;
  height: auto;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.sidenav-collapsed .create-ticket-form input,
.sidenav-collapsed .create-ticket-form textarea,
.sidenav-collapsed .create-ticket-form .textAreaIcons,
.sidenav-collapsed .tiptap-editor {
  width: 70%;
  transition: width 0.3s ease-in-out;
}
